# -------------------------
# Python / FastAPI backend
# -------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
.eggs/
dist/
build/
*.manifest
*.spec

# Virtualenv
.venv/
venv/
venv311/
ENV/
env/
env.bak/
.env


app.db
app.db-shm
app.db-wal

token.py